@media only screen and (max-width: 1023px) {
    body{
        width:95%;
    }
    .blockList ul li{
        width:90px;
        height:50px;
        padding-top:10px;
    }
    .main .blockImg{
        font-size:25px;
    }
    .main .blockImg .blockText{
        width:45%;
    }
    .main .blockImg .text{
        line-height:normal;
        width:17%;
        margin-left:2%;
    }
    .main .blockImg .animation{
        left:27%;
        top:85%;
    }
}


@media only screen and (max-width: 740px) {
    body{
        width:100%;
    }
    .blockList button.menu{
        border:none;
        background:transparent;
        color:aliceblue;
        font-size:20px;
        display:block;
        position:absolute;
    }
    .blockList ul{
        display:none;
    }
    .main .blockImg{
        font-size:30px;
    }
    .main .blockImg .blockText{
        width:75%;
    }
    .main .blockImg .text{
        width:30%;
        margin-left:1%;
    }
    .main .blockImg .animation{
        left:40%;
        top:80%;
    }
}